# Keep the build context to exactly what the Dockerfile copies:
# pyproject.toml, uv.lock, .python-version, README.md, src/, and the license
# set (LICENSE, NOTICE, LICENSES/) the image must redistribute. Nothing below
# excludes those — do not add an exclusion that swallows them.
.git
.venv
data
__pycache__
**/__pycache__
*.pyc
.pytest_cache
.ruff_cache
dist
.github
docs
scripts
tests
*.ply
*.npz
